openapi: 3.0.3
info:
  title: API Integrador
  description: Administrar las integraciones con el backend.
  version: 1.0.0
externalDocs:
  description: Más información
  url: https://mp.gob.pe/
servers:
- url: http://mp.gob.pe/
paths:
  /login:
    post:
      tags:
      - Login
      summary: Validar sesión.
      description: |
        Este método vaida la sesión del usuario.
      operationId: login
      requestBody:
        required: true
        description: Request requerido para la validación de la sesión.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '401':
          description: Acceso no autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse401'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /alertas:
    post:
      tags:
      - Alerta
      summary: Registrar alerta.
      description: |
        Este método permite registrar la alerta.
      operationId: registrarAlerta
      requestBody:
        required: true
        description: Request requerido para registrar la alerta.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrarAlertaRequest'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrarAlertaResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
    get:
      tags:
      - Alerta
      summary: Listar alerta.
      description: |
        Este método permite registrar la alerta.
      operationId: listarAlerta
      parameters:
      - name: fechaInicio
        in: query
        description: Fecha de inicio que se ingresa como filtro
        required: false
        schema:
          type: string
          example: '5/07/2022'
      - name: fechaFin
        in: query
        description: Fecha de fin que se ingresa como filtro
        required: false
        schema:
          type: string
          example: '6/07/2022'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListarAlertaResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /alertas/cantidad:
    get:
      tags:
      - Alerta
      summary: Contar alerta.
      description: |
        Este método permite contar las alertas.
      operationId: contarAlerta
      parameters:
      - name: fechaInicio
        in: query
        description: Fecha de inicio que se ingresa como filtro
        required: false
        schema:
          type: string
          example: '5/07/2022'
      - name: fechaFin
        in: query
        description: Fecha de fin que se ingresa como filtro
        required: false
        schema:
          type: string
          example: '6/07/2022'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContarAlertaResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /alertas/accion:
    post:
      tags:
      - Alerta
      summary: Registrar acción alerta.
      description: |
        Este método permite registrar la acción alerta.
      operationId: registrarAccionAlerta
      requestBody:
        required: true
        description: Request requerido para registrar la acción alerta.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrarAccionAlertaRequest'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrarAccionAlertaResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
    get:
      tags:
      - Alerta
      summary: Listar ación alerta.
      description: |
        Este método permite registrar la acción alerta.
      operationId: listarAccionAlerta
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListarAccionAlertaResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /alertas/proteccion:
    post:
      tags:
      - Alerta
      summary: Registrar medida protección.
      description: |
        Este método permite registrar la medida protección.
      operationId: registrarProteccionAlerta
      requestBody:
        required: true
        description: Request requerido para registrar la medida preotección.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrarProteccionAlertaRequest'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrarProteccionAlertaResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
    get:
      tags:
      - Alerta
      summary: Listar medida protección.
      description: |
        Este método permite listar la medida protección.
      operationId: listarProteccionAlerta
      parameters:
      - name: fechaInicio
        in: query
        description: Fecha de inicio que se ingresa como filtro
        required: false
        schema:
          type: string
          example: '5/07/2022'
      - name: fechaFin
        in: query
        description: Fecha de fin que se ingresa como filtro
        required: false
        schema:
          type: string
          example: '6/07/2022'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListarProteccionAlertaResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /alertas/proteccion/cantidad:
    get:
      tags:
      - Alerta
      summary: Contar medida protección.
      description: |
        Este método permite contar la medida protección.
      operationId: contarProteccionAlerta
      parameters:
      - name: fechaInicio
        in: query
        description: Fecha de inicio que se ingresa como filtro
        required: false
        schema:
          type: string
          example: '5/07/2022'
      - name: fechaFin
        in: query
        description: Fecha de fin que se ingresa como filtro
        required: false
        schema:
          type: string
          example: '6/07/2022'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContarProteccionAlertaResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /alertas/alerta-accion:
    post:
      tags:
      - Alerta
      summary: Registrar alerta-accion.
      description: |
        Este método permite registrar la alerta asociada a la acción.
      operationId: registrarAlertaAccion
      requestBody:
        required: true
        description: Request requerido para registrar la alerta acción medida protección.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrarAlertaAccionRequest'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrarAlertaAccionResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /alertas/alerta-proteccion:
    post:
      tags:
      - Alerta
      summary: Registrar alerta-medida protección.
      description: |
        Este método permite registrar la alerta asociada a la medida protección.
      operationId: registrarAlertamMedidaProtección
      requestBody:
        required: true
        description: Request requerido para registrar la alerta medida protección protección.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrarAlertaProteccionRequest'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrarAlertaProteccionResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /alertas/denuncia:
    post:
      tags:
      - Alerta
      summary: Registrar denuncia alerta
      description: |
        Este método permite registrar una denuncia alerta.
      operationId: registrarDenunciaAlerta
      requestBody:
        required: true
        description: Request requerido para registrar una denuncia alerta.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrarDenunciaAlertaRequest'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrarDenunciaAlertaResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /catalogos:
    get:
      tags:
      - Catalogo
      summary: Listar catálogo.
      description: |
        Este método permite listar el catálogo.
      operationId: listarCatalogo
      parameters:
      - name: codigoPadre
        in: query
        description: Código padre del catálogo que se ingresa como filtro
        required: true
        schema:
          type: integer
          example: 1
      - name: codigoHijo
        in: query
        description: Código hijo del catálogo que se ingresa como filtro
        required: false
        schema:
          type: integer
          example: 1
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListarCatalogoResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /paises:
    get:
      tags:
      - Pais
      summary: Listar pais.
      description: |
        Este método permite listar los paises.
      operationId: listarPais
      parameters:
      - name: codigo
        in: query
        description: Código del pais que se ingresa como filtro
        required: false
        schema:
          type: integer
          example: 1
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListarPaisResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /ubigeos:
    get:
      tags:
      - Ubigeo
      summary: Listar ubigeo.
      description: |
        Este método permite listar ubigeo.
      operationId: listarUbigeo
      parameters:
      - name: codigoDepartamento
        in: query
        description: Código del pais que se ingresa como filtro
        required: false
        schema:
          type: string
          example: '1'
      - name: codigoProvincia
        in: query
        description: Código de la provincia que se ingresa como filtro
        required: false
        schema:
          type: string
          example: '1'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListarUbigeoResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /fichas-reca:
    post:
      tags:
      - Ficha Reca
      summary: Registrar ficha reca.
      description: |
        Este método permite registrar la ficha reca.
      operationId: registrarFichaReca
      requestBody:
        required: true
        description: Request requerido para registrar la ficha reca.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrarFichaRecaRequest'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrarFichaRecaResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
    get:
      tags:
      - Ficha Reca
      summary: Listar ficha reca.
      description: |
        Este método permite listar la ficha reca.
      operationId: listarFichareca
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListarFichaRecaResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /notificaciones/email:
    post:
      tags:
      - Notificacion
      summary: Enviar emails.
      description: |
        Este método permitirá enviar emails.
      operationId: enviarEmail
      requestBody:
        required: true
        description: Request requerido para el envío de los emails.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnviarEmailMRequest'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnviarEmailResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /notificaciones/sms:
    post:
      tags:
      - Notificacion
      summary: Enviar sms.
      description: |
        Este método permitirá enviar sms.
      operationId: enviarSms
      requestBody:
        required: true
        description: Request requerido para el envío de los sms.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnviarSmsRequest'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnviarSmsResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
  /notificaciones/whatsapp:
    post:
      tags:
      - Notificacion
      summary: Enviar whatsapp.
      description: |
        Este método permitirá enviar whatsapp.
      operationId: enviarWhatsapp
      requestBody:
        required: true
        description: Request requerido para el envío de los whatsapps.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnviarWhatsappRequest'
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnviarWhatsappResponse'
        '400':
          description: Datos no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse400'
        '404':
          description: Recurso inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse404'
        '500':
          description: Eror inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse500'
components:
  schemas:
    LoginRequest:
      type: object
      properties:
        usuario:
          type: string
          minLength: 1
          example: 'alexander@gmail.com'
        clave:
          type: string
          minLength: 1
          example: '123456'
      required:
      - usuario
      - clave
    RegistrarAlertaRequest:
      type: object
      properties:
        idFiscal:
          type: integer
          example: 123
        idDelito:
          type: integer
          example: 123
        juridiccion:
          type: string
          minLength: 1
          example: 'juridiccion'
        dependenciaMPub:
          type: string
          minLength: 1
          example: 'dependencia'
        dependenciaPol:
          type: string
          minLength: 1
          example: 'dependencia'
        caso:
          type: string
          minLength: 1
          example: 'caso'
        fechaIngreso:
          type: string
          minLength: 1
          example: '23/11/2022'
        nombreAgraviado:
          type: string
          minLength: 1
          example: 'Juan'
        nombreImputado:
          type: string
          minLength: 1
          example: 'Carlos'
        sexo:
          type: string
          minLength: 1
          example: 'MA'
        idEstado:
          type: integer
          example: 1
        idFichaReca:
          type: integer
          example: 123
        fechaRegistro:
          type: string
          minLength: 1
          example: '23/11/2022'
      required:
      - idFiscal
      - idDelito
    RegistrarAccionAlertaRequest:
      type: object
      properties:
        descripcion:
          type: string
          minLength: 1
          example: 'Acción a'
      required:
      - descripcion
    RegistrarProteccionAlertaRequest:
      type: object
      properties:
        descripcion:
          type: string
          minLength: 1
          example: 'Protección a'
      required:
      - descripcion
    RegistrarAlertaAccionRequest:
      type: object
      properties:
        idAlerta:
          type: integer
          example: 123
        idAccion:
          type: integer
          example: 123
        usuarioRegistro:
          type: string
          minLength: 1
          example: 'usuario'
        fechaRegistro:
          type: string
          minLength: 1
          example: '23/11/2022'
      required:
      - idFiscal
      - idDelito
    RegistrarAlertaProteccionRequest:
      type: object
      properties:
        idAlerta:
          type: integer
          example: 123
        idMedidaProteccion:
          type: integer
          example: 123
        usuarioRegistro:
          type: string
          minLength: 1
          example: 'usuario'
        fechaRegistro:
          type: string
          minLength: 1
          example: '23/11/2022'
      required:
      - idFiscal
      - idDelito
    RegistrarDenunciaAlertaRequest:
      type: object
      properties:
        idDenuncia:
          type: integer
          example: 1
        idAlerta:
          type: integer
          example: 1
        fechaRegistro:
          type: string
          minLength: 1
          example: '23/11/2022'
        usuarioRegistro:
          type: string
          minLength: 1
          example: 'usuario'
      required:
      - idDenuncia
      - idAlerta
    RegistrarFichaRecaRequest:
      type: object
      properties:
        genDistJudicial:
          type: string
          example: '123'
        genUdavitUavit:
          type: string
          example: '123'
        genNumFicha:
          type: integer
          example: 1
        genFecFicha:
          type: string
          example: '23/11/2022'
        genBeneficiaria:
          type: integer
          example: 1
        genBeneficiariaFecha:
          type: string
          example: '23/11/2022'
        genNumCarpetaAsist:
          type: integer
          example: 1
        genNombreAbogago:
          type: string
          example: 'Carlos'
        genTSocial:
          type: string
          example: 'MA'
        genPsicologo:
          type: string
          example: 'MA'
        genMedioDeComuni:
          type: integer
          example: 1
        genNombreMedio:
          type: string
          example: 'MA'
        genFecPublic:
          type: string
          example: '23/11/2022'
        victNomApell:
          type: string
          example: 'MA'
        victIdTbNacionalidad:
          type: integer
          example: 1
        victTipDocu:
          type: integer
          example: 1
        victNDni:
          type: integer
          example: 1
        victDepartamento:
          type: string
          example: '01'
        victProvincia:
          type: string
          example: '0101'
        victDistirto:
          type: string
          example: '010101'
        victFecNacimiento:
          type: string
          example: '23/11/2022'
        victTelfFijo:
          type: string
          example: 'MA'
        victCelular:
          type: integer
          example: 1
        victEmail:
          type: string
          example: 'MA'
        victDominicilio:
          type: string
          example: 'MA'
        victIdioma:
          type: integer
          example: 1
        victEtnia:
          type: integer
          example: 1
        victHjos:
          type: integer
          example: 1
        victGestando:
          type: integer
          example: 1
        victGestandoMeses:
          type: integer
          example: 1
        victEstadoCivil:
          type: integer
          example: 1
        victEstadoCivilOtro:
          type: string
          example: 'MA'
        victNEducativo:
          type: integer
          example: 1
        victTrabaja:
          type: integer
          example: 1
        victOcupacion:
          type: integer
          example: 1
        victOcupacionOtros:
          type: string
          example: 'MA'
        victCentroTrab:
          type: string
          example: 'MA'
        victRemuneracion:
          type: integer
          example: 1
        victDiscapacidad:
          type: integer
          example: 1
        victDiscapacidadDes:
          type: integer
          example: 1
        victAccSalud:
          type: integer
          example: 1
        victAccSaludDetalle:
          type: string
          example: '1'
        victRelaAgresora:
          type: integer
          example: 1
        victRelaAgresoraDetalle:
          type: string
          example: 'MA'
        victDepNomApell:
          type: string
          example: 'MA'
        victDepNacionalidad:
          type: integer
          example: 1
        victDepTipDocumento:
          type: integer
          example: 1
        victDepNDni:
          type: integer
          example: 1
        victDepEdad:
          type: integer
          example: 1
        victDepDomicilio:
          type: string
          example: '1'
        victDepNivelEd:
          type: integer
          example: 1
        victDepEstu:
          type: integer
          example: 1
        victDepEstuTip:
          type: integer
          example: 1
        victDepNomEdu:
          type: string
          example: '1'
        victDepEstuAno:
          type: string
          example: '1'
        victDepTrabaja:
          type: integer
          example: 1
        victDepOcupacion:
          type: integer
          example: 1
        victDepRemunerado:
          type: integer
          example: 1
        victDepCentTrabajo:
          type: string
          example: '1'
        victDepDiscapacidad:
          type: integer
          example: 1
        victDepDiscapacidadDes:
          type: integer
          example: 1
        victDepRelaDirect:
          type: integer
          example: 1
        victDepRelaDirectDetalle:
          type: string
          example: '1'
        victDep2NomApell:
          type: string
          example: '1'
        victDep2Nacionalidad:
          type: integer
          example: 1
        victDep2TipDocumento:
          type: integer
          example: 1
        victDep2NDni:
          type: integer
          example: 1
        victDep2Edad:
          type: integer
          example: 1
        victDep2Domicilio:
          type: string
          example: '1'
        victDep2NivelEdu:
          type: integer
          example: 1
        victDep2Estu:
          type: integer
          example: 1
        victDep2EstuTip:
          type: integer
          example: 1
        victDep2NomEdu:
          type: string
          example: '1'
        victDep2EstuAno:
          type: string
          example: '1'
        victDep2Trabaja:
          type: integer
          example: 1
        victDep2Ocupacion:
          type: integer
          example: 1
        victDep2Remunerado:
          type: integer
          example: 1
        victDep2CentTrabajo:
          type: string
          example: '1'
        victDep2Discapacidad:
          type: integer
          example: 1
        victDep2DiscapacidadDes:
          type: integer
          example: 1
        victDep2RelaDirec:
          type: integer
          example: 1
        victDep2RelaDirecDetalle:
          type: string
          example: '1'
        asistLegal:
          type: integer
          example: 1
        asistSocial:
          type: integer
          example: 1
        asistPsicologica:
          type: integer
          example: 1
        asistInforEmit:
          type: string
          example: '1'
        asistAsistLegaDet:
          type: string
          example: '1'
        asistPsicologicaDet:
          type: string
          example: '1'
        asistSocialDet:
          type: string
          example: '1'
        aprePregunt1:
          type: integer
          example: 1
        aprePregunt2:
          type: integer
          example: 1
        aprePregunt3:
          type: integer
          example: 1
        aprePregunt4:
          type: integer
          example: 1
        aprePregunt5:
          type: integer
          example: 1
        aprePregunt6:
          type: integer
          example: 1
        aprePregunt7:
          type: string
          example: '1'
        udavitSolFiscal:
          type: integer
          example: 1
        udavitSolFiscalDet:
          type: string
          example: '1'
        udavitInvestigacion:
          type: string
          example: '1'
        udavitAcciones:
          type: string
          example: '1'
        udavitDenucia:
          type: string
          example: '1'
        udavitMimp:
          type: string
          example: '1'
        udavitMinedu:
          type: string
          example: '1'
        udavitMinsa:
          type: string
          example: '1'
        udavitMire:
          type: string
          example: '1'
        udavitMinjus:
          type: string
          example: '1'
        udavitReinserLaboral:
          type: string
          example: '1'
        udavitOtros:
          type: string
          example: '1'
        contEstrategia:
          type: integer
          example: 1
        contEstrategiaOp:
          type: integer
          example: 1
        contEstrategiaOpDetalle:
          type: string
          example: '1'
    EnviarEmailMRequest:
      type: object
      properties:
        para:
          type: array
          minItems: 1
          items:
            type: string
            example: 'alexander@gmail.com'
        enCopia:
          type: array
          items:
            type: string
            example: 'juan@gmail.com'
        asunto:
          type: string
          minLength: 1
          example: 'Asunto'
        nombreAgraviada:
          type: string
          minLength: 1
          example: 'Luisa Vega'
        numeroDocAgraviada:
          type: string
          minLength: 1
          example: '21764538'
        nombreAgraviante:
          type: string
          minLength: 1
          example: 'Carlos Soto'
        numeroDocAgraviante:
          type: string
          minLength: 1
          example: '21241538'
        nombreFiscalia:
          type: string
          minLength: 1
          example: 'N° 1'
      required:
      - para
      - asunto
      - nombreAgraviada
      - numeroDocAgraviada
      - nombreAgraviante
      - numeroDocAgraviante
      - nombreFiscalia
    EnviarSmsRequest:
      type: object
      properties:
        para:
          type: array
          minItems: 1
          items:
            type: string
            example: '992731245'
        nombreAgraviada:
          type: string
          example: 'Luisa Vega'
        numeroDocAgraviada:
          type: string
          example: '21764538'
        nombreAgraviante:
          type: string
          example: 'Carlos Soto'
        numeroDocAgraviante:
          type: string
          example: '21241538'
        nombreFiscalia:
          type: string
          example: 'N° 1'
      required:
      - para
      - nombreAgraviada
      - numeroDocAgraviada
      - nombreAgraviante
      - numeroDocAgraviante
      - nombreFiscalia
    EnviarWhatsappRequest:
      type: object
      properties:
        para:
          type: array
          minItems: 1
          items:
            type: string
            example: '992731245'
        nombreAgraviada:
          type: string
          example: 'Luisa Vega'
        numeroDocAgraviada:
          type: string
          example: '21764538'
        nombreAgraviante:
          type: string
          example: 'Carlos Soto'
        numeroDocAgraviante:
          type: string
          example: '21241538'
        nombreFiscalia:
          type: string
          example: 'N° 1'
      required:
      - para
      - nombreAgraviada
      - numeroDocAgraviada
      - nombreAgraviante
      - numeroDocAgraviante
      - nombreFiscalia
    LoginResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LoginDataResponse'
        metadata:
          $ref: '#/components/schemas/Metadata'
    RegistrarAlertaResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
    RegistrarAccionAlertaResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
    RegistrarProteccionAlertaResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
    RegistrarAlertaAccionResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
    RegistrarAlertaProteccionResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
    RegistrarDenunciaAlertaResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
    ListarAlertaResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ListarAlertaDataResponse'
        metadata:
          $ref: '#/components/schemas/Metadata'
    ContarAlertaResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ContarAlertaDataResponse'
        metadata:
          $ref: '#/components/schemas/Metadata'
    ListarAccionAlertaResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ListarAccionAlertaDataResponse'
        metadata:
          $ref: '#/components/schemas/Metadata'
    ListarProteccionAlertaResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ListarProteccionAlertaDataResponse'
        metadata:
          $ref: '#/components/schemas/Metadata'
    ContarProteccionAlertaResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ContarProteccionAlertaDataResponse'
        metadata:
          $ref: '#/components/schemas/Metadata'
    LoginDataResponse:
      type: object
      properties:
        estado:
          type: boolean
          example: true
    ListarAlertaDataResponse:
      type: object
      properties:
        idAlerta:
          type: integer
          example: 123
        idFiscal:
          type: integer
          example: 123
        nombresFiscal:
          type: string
          example: 'Juan Soto Vega'
        idDelito:
          type: integer
          example: 123
        detalleDelito:
          type: string
          example: 'Delito A'
        juridiccion:
          type: string
          minLength: 1
          example: 'juridiccion'
        dependenciaMPub:
          type: string
          minLength: 1
          example: 'dependencia'
        dependenciaPol:
          type: string
          minLength: 1
          example: 'dependencia'
        caso:
          type: string
          minLength: 1
          example: 'caso'
        fechaIngreso:
          type: string
          minLength: 1
          example: '23/11/2022'
        nombreAgraviado:
          type: string
          minLength: 1
          example: 'Juan'
        nombreImputado:
          type: string
          minLength: 1
          example: 'Carlos'
        sexo:
          type: string
          minLength: 1
          example: 'MA'
        idEstado:
          type: integer
          example: 1
        descripcionEstado:
          type: string
          example: 'Estado A'
        idFichaReca:
          type: integer
          example: 1
        fechaRegistro:
          type: string
          example: '23/11/2022'
      required:
      - idFiscal
      - idDelito
    ContarAlertaDataResponse:
      type: object
      properties:
        cantidad:
          type: integer
          example: 123
    ListarAccionAlertaDataResponse:
      type: object
      properties:
        idAccionAlerta:
          type: integer
          example: 123
        descripcion:
          type: string
          example: 'Accion alerta'
    ListarProteccionAlertaDataResponse:
      type: object
      properties:
        idProteccionAlerta:
          type: integer
          example: 123
        descripcion:
          type: string
          example: 'Protección alerta'
    ContarProteccionAlertaDataResponse:
      type: object
      properties:
        cantidad:
          type: integer
          example: 123
    ListarCatalogoResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ListarCatalogoDataResponse'
        metadata:
          $ref: '#/components/schemas/Metadata'
    ListarCatalogoDataResponse:
      type: object
      properties:
        idSubGrupo:
          type: integer
          example: 123
        descripcion:
          type: string
          example: 'SOLTERO'
    ListarPaisResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ListarPaisDataResponse'
        metadata:
          $ref: '#/components/schemas/Metadata'
    ListarPaisDataResponse:
      type: object
      properties:
        id:
          type: integer
          example: 123
        descripcion:
          type: string
          example: 'ANDORRA'
    ListarUbigeoResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ListarUbigeoDataResponse'
        metadata:
          $ref: '#/components/schemas/Metadata'
    ListarUbigeoDataResponse:
      type: object
      properties:
        id:
          type: integer
          example: 123
        descripcion:
          type: string
          example: 'BAGUA'
    RegistrarFichaRecaResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
    ListarFichaRecaResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ListarFichaRecaDataResponse'
        metadata:
          $ref: '#/components/schemas/Metadata'
    ListarFichaRecaDataResponse:
      type: object
      properties:
        idTbFichaReca:
          type: integer
          example: 1
        genDistJudicial:
          type: string
          example: '123'
        genUdavitUavit:
          type: string
          example: '123'
        genNumFicha:
          type: integer
          example: 1
        genFecFicha:
          type: string
          example: '23/11/2022'
        genBeneficiaria:
          type: integer
          example: 1
        genBeneficiariaFecha:
          type: string
          example: '23/11/2022'
        genNumCarpetaAsist:
          type: integer
          example: 1
        genNombreAbogago:
          type: string
          example: 'Carlos'
        genTSocial:
          type: string
          example: 'MA'
        genPsicologo:
          type: string
          example: 'MA'
        genMedioDeComuni:
          type: integer
          example: 1
        genNombreMedio:
          type: string
          example: 'MA'
        genFecPublic:
          type: string
          example: '23/11/2022'
        victNomApell:
          type: string
          example: 'MA'
        victIdTbNacionalidad:
          type: integer
          example: 1
        victTipDocu:
          type: integer
          example: 1
        victNDni:
          type: integer
          example: 1
        victDepartamento:
          type: string
          example: '01'
        victProvincia:
          type: string
          example: '0101'
        victDistirto:
          type: string
          example: '010101'
        victFecNacimiento:
          type: string
          example: '23/11/2022'
        victTelfFijo:
          type: string
          example: 'MA'
        victCelular:
          type: integer
          example: 1
        victEmail:
          type: string
          example: 'MA'
        victDominicilio:
          type: string
          example: 'MA'
        victIdioma:
          type: integer
          example: 1
        victEtnia:
          type: integer
          example: 1
        victHjos:
          type: integer
          example: 1
        victGestando:
          type: integer
          example: 1
        victGestandoMeses:
          type: integer
          example: 1
        victEstadoCivil:
          type: integer
          example: 1
        victEstadoCivilOtro:
          type: string
          example: 'MA'
        victNEducativo:
          type: integer
          example: 1
        victTrabaja:
          type: integer
          example: 1
        victOcupacion:
          type: integer
          example: 1
        victOcupacionOtros:
          type: string
          example: 'MA'
        victCentroTrab:
          type: string
          example: 'MA'
        victRemuneracion:
          type: integer
          example: 1
        victDiscapacidad:
          type: integer
          example: 1
        victDiscapacidadDes:
          type: integer
          example: 1
        victAccSalud:
          type: integer
          example: 1
        victAccSaludDetalle:
          type: string
          example: '1'
        victRelaAgresora:
          type: integer
          example: 1
        victRelaAgresoraDetalle:
          type: string
          example: 'MA'
        victDepNomApell:
          type: string
          example: 'MA'
        victDepNacionalidad:
          type: integer
          example: 1
        victDepTipDocumento:
          type: integer
          example: 1
        victDepNDni:
          type: integer
          example: 1
        victDepEdad:
          type: integer
          example: 1
        victDepDomicilio:
          type: string
          example: '1'
        victDepNivelEd:
          type: integer
          example: 1
        victDepEstu:
          type: integer
          example: 1
        victDepEstuTip:
          type: integer
          example: 1
        victDepNomEdu:
          type: string
          example: '1'
        victDepEstuAno:
          type: string
          example: '1'
        victDepTrabaja:
          type: integer
          example: 1
        victDepOcupacion:
          type: integer
          example: 1
        victDepRemunerado:
          type: integer
          example: 1
        victDepCentTrabajo:
          type: string
          example: '1'
        victDepDiscapacidad:
          type: integer
          example: 1
        victDepDiscapacidadDes:
          type: integer
          example: 1
        victDepRelaDirect:
          type: integer
          example: 1
        victDepRelaDirectDetalle:
          type: string
          example: '1'
        victDep2NomApell:
          type: string
          example: '1'
        victDep2Nacionalidad:
          type: integer
          example: 1
        victDep2TipDocumento:
          type: integer
          example: 1
        victDep2NDni:
          type: integer
          example: 1
        victDep2Edad:
          type: integer
          example: 1
        victDep2Domicilio:
          type: string
          example: '1'
        victDep2NivelEdu:
          type: integer
          example: 1
        victDep2Estu:
          type: integer
          example: 1
        victDep2EstuTip:
          type: integer
          example: 1
        victDep2NomEdu:
          type: string
          example: '1'
        victDep2EstuAno:
          type: string
          example: '1'
        victDep2Trabaja:
          type: integer
          example: 1
        victDep2Ocupacion:
          type: integer
          example: 1
        victDep2Remunerado:
          type: integer
          example: 1
        victDep2CentTrabajo:
          type: string
          example: '1'
        victDep2Discapacidad:
          type: integer
          example: 1
        victDep2DiscapacidadDes:
          type: integer
          example: 1
        victDep2RelaDirec:
          type: integer
          example: 1
        victDep2RelaDirecDetalle:
          type: string
          example: '1'
        asistLegal:
          type: integer
          example: 1
        asistSocial:
          type: integer
          example: 1
        asistPsicologica:
          type: integer
          example: 1
        asistInforEmit:
          type: string
          example: '1'
        asistAsistLegaDet:
          type: string
          example: '1'
        asistPsicologicaDet:
          type: string
          example: '1'
        asistSocialDet:
          type: string
          example: '1'
        aprePregunt1:
          type: integer
          example: 1
        aprePregunt2:
          type: integer
          example: 1
        aprePregunt3:
          type: integer
          example: 1
        aprePregunt4:
          type: integer
          example: 1
        aprePregunt5:
          type: integer
          example: 1
        aprePregunt6:
          type: integer
          example: 1
        aprePregunt7:
          type: string
          example: '1'
        udavitSolFiscal:
          type: integer
          example: 1
        udavitSolFiscalDet:
          type: string
          example: '1'
        udavitInvestigacion:
          type: string
          example: '1'
        udavitAcciones:
          type: string
          example: '1'
        udavitDenucia:
          type: string
          example: '1'
        udavitMimp:
          type: string
          example: '1'
        udavitMinedu:
          type: string
          example: '1'
        udavitMinsa:
          type: string
          example: '1'
        udavitMire:
          type: string
          example: '1'
        udavitMinjus:
          type: string
          example: '1'
        udavitReinserLaboral:
          type: string
          example: '1'
        udavitOtros:
          type: string
          example: '1'
        contEstrategia:
          type: integer
          example: 1
        contEstrategiaOp:
          type: integer
          example: 1
        contEstrategiaOpDetalle:
          type: string
          example: '1'
      required:
      - idFiscal
      - idDelito
    EnviarEmailResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
    EnviarSmsResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
    EnviarWhatsappResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
    Metadata:
      type: object
      properties:
        status:
          type: integer
          format: int32
          example: 200
        message:
          type: string
          example: La operación fue exitosa.
    ApiResponse400:
      type: object
      properties:
        code:
          type: integer
          format: int32
          example: 400
        message:
          type: string
          example: Los datos ingresados son inválidos.
    ApiResponse401:
      type: object
      properties:
        code:
          type: integer
          format: int32
          example: 401
        message:
          type: string
          example: Acceso no autorizado.
    ApiResponse404:
      type: object
      properties:
        code:
          type: integer
          format: int32
          example: 404
        message:
          type: string
          example: El recurso no fue ubicado.
    ApiResponse500:
      type: object
      properties:
        code:
          type: integer
          format: int32
          example: 500
        message:
          type: string
          example: >-
            Ocurrió un error no esperado, por favor comuníquese con el área de
            soporte.